In [4]:
!pip install pymongo
# !pip install timeit

Collecting pymongo
  Using cached pymongo-4.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Using cached dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Using cached pymongo-4.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (670 kB)
Using cached dnspython-2.6.1-py3-none-any.whl (307 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.2

In [1]:
import ingest
import pandas as pd
import timeit
import pymongo

In [2]:
# Set strings 
conn_str = 'mongodb://talentedge:talentedge@10.0.110.212:27017/talentedge?retryWrites=true&w=majority'
db = 'talentedge'
coll = 'requisitionYearlyDump'

# Connect 
collection = ingest.connect(conn_str, db, coll)
collection

Collection(Database(MongoClient(host=['10.0.110.212:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority'), 'talentedge'), 'requisitionYearlyDump')

In [3]:
# search by state and job title

loc = 'TX'
title = 'Data Scientist'

start_time = timeit.default_timer()


data = pd.DataFrame(list(collection.find({"location.state":loc,  "title": title}, { "postingDate": 1,"payGrade": 1,"_id": 0}))) #limit(10)
data

print(timeit.default_timer() - start_time)

522.406768230001

In [4]:
data.to_csv('data/tx_ds.csv')

In [75]:
data

               title  payGrade postingDate
0     Data Scientist  107500.0  2024-03-28
1     Data Scientist  139500.0  2024-03-26
2     Data Scientist  137500.0  2024-03-23
3     Data Scientist       NaN  2024-03-20
4     Data Scientist  117500.0  2024-03-16
...              ...       ...         ...
1215  Data Scientist  128500.0  2022-12-06
1216  Data Scientist  127000.0  2022-12-06
1217  Data Scientist  143375.0  2022-12-13
1218  Data Scientist   74500.0  2022-04-10
1219  Data Scientist  143375.0  2022-12-13

[1220 rows x 3 columns]

In [21]:
query

'{"location.state": "NY", "title": "Data Scientist"}, {"postingDate": 1,"payGrade": 1,"_id": 0}'